body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    padding: 0%;
    display: grid;
}

.header{
background-color: #3a96e1;
padding: 10px 20px;
justify-content: space-between;
align-items: center;
width: 99%;

}